body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: black;
}



#container {
    height: 900px;
    width: 900px;
    justify-content: center;
    align-items: center;
    background-color: #777;
    margin: 10px auto;
    position: relative;
}

#optionsContainer {
    height: 800px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: top;
    background-color: #bbb;
    padding: 50px 5px;
    position: absolute;
    top: 0px;
    right: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}